
:root
{
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #796b1b;
    --gray: #303841;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    scroll-behavior:smooth;
}

body
{
    width: 100%;
    height: 100vh;
    text-align: center;
}

header
{
    width: 100%;
    background-color: var(--red);
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    border-bottom: 2px solid #00000099;
    position: fixed;
    top: 0;
    left: 0;
}


ul
{
    list-style: none;
    display: flex;
    font-family: Poppins;
    font-size: 18px;
}

ul a
{
    text-decoration: none;
    color:var(--white);
    padding: 22px 20px;
    display: block;
    transition: all 150ms ease-in-out;
}

ul a:hover
{
    background-color: var(--blue);
}

main
{
    width: 100%;
}

.hero
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(62deg, #8d4f4f 0%, #350918 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1
{
    font-family:Raleway;
    font-size: 60px;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: type 5s steps(38) both,
    blink 1s step-end 3 ;
    max-width: fit-content;
    
}

.hero p
{
    font-family:Poppins;
    font-size: 30px;
    color: var(--white);
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(35) 1600ms both,
    blink 1s step-end 1600ms infinite ;
    max-width: fit-content;
    width:0px;
}

@keyframes type {
    from { width: 0 }
    to { width: 100%;
         /*white-space:normal*/ }
  }
  
@keyframes blink {
    0%,100%
    {
      border-right: 2px solid var(--red);
    }
    50%{
      border-color: transparent;
    }
  }

/**********************************work*********************************/

#work
{
    width: 100%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}

#work section
{
    width: fit-content;
    height: fit-content;
    margin-bottom: 60px;
}

#work section h1
{
    font-family: Raleway;
    font-size: 40px;
    color: var(--white);
    padding: 10px 0;
}

#work section hr
{
    border: 1px solid transparent;
    width:0px;
    transition: all 0.3s linear;
}

#work section:hover hr
{
    width: 100%;
    border: 1px solid var(--white);
}
  

#projects
{  
    width: 100%;
    /* height: 1000px; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
/*     grid-template-rows: 1fr 1fr; */
    gap: 30px;
    padding: 0px 25px;
}

/************************media query************************/

@media only screen and (max-width:731px)
{
    #projects
    {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:732px) and (max-width:1092px)
{
    #projects
    {
        grid-template-columns: 1fr 1fr;
    }
}

#projects a
{
    text-decoration: none;
}


.project
{
    border-radius: 2px;
    overflow:hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
}

.project img
{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project p
{
    font-family:Poppins;
    text-transform: capitalize;
    text-align: center;
    background-color:var(--gray);
    padding: 20px;
    color: var(--white);
    font-size: 20px;
}

.project p span.tag
{
    color: transparent;
    transition: all 0.2s linear;
}

#projects a:hover span.tag
{
    color: #ff7f50;
}

#work #show_more
{
    padding: 10px 22px;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 60px;
    background-color: var(--gray);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

#work #show_more:hover
{
    background-color: var(--red);
}

#work #show_more i
{
    transition: all 0.3s linear;
    margin-left: 3px;
}

#work #show_more:hover i
{
    transform: translateX(5px);
}

/*****************************contabt**********************************/
#contact
{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
}

#contact h1
{
    font-family:Raleway;
    font-size: 60px;
    color: var(--white);
}

#contact p
{
    font-family:Poppins;
    color: var(--white);
    font-style: italic;
    margin-top: 7px;
    font-size: 19px;
}

#contact #links
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

#contact #links a
{
    text-decoration: none;
    color: var(--white);
    text-shadow: 1px 1px 2px black;
    font-size: 24px;
    font-family: Poppins;
    padding: 10px 20px;
    white-space: nowrap;
    transition: all 0.2s linear;
}

#contact #links a:hover
{
    transform: translateY(10px);
}

#contact #links a i
{
    margin-right:5px ;
}

/***************************footer******************************/

footer
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
    border-top: 3px solid var(--red);
}

    body {
      margin: 0;
      padding: 5px ;
      background-color: #000;
      padding-bottom: 100px;
    }




    #contact {
      width: 100%;
      height: 100%;
    }
    
.footer-header {
      text-align: center;
      margin: 0 auto;
      padding: 40px 0;
      font: 300 60px 'Oswald', sans-serif;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
    
    .contact-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding: 20px;
      position: relative;
      max-width: 840px;
    }
    
    /* Left contact page */
    .form-horizontal {
      /*float: left;*/
      max-width: 250px;
      font-family: 'Lato';
      font-weight: 400;
    }
    
    .form-control, 
    textarea {
      max-width: 400px;
      background-color: #000;
      color: #fff;
      letter-spacing: 1px;
    }
    
    .send-button {
      margin-top: 15px;
      height: 34px;
      width: 400px;
      overflow: hidden;
      transition: all .2s ease-in-out;
    }
    
    .alt-send-button {
      width: 400px;
      height: 34px;
      transition: all .2s ease-in-out;
    }
    
    .send-text {
      display: block;
      margin-top: 10px;
      font: 700 12px 'Lato', sans-serif;
      letter-spacing: 2px;
    }
    
    .alt-send-button:hover {
      transform: translate3d(0px, -29px, 0px);
    }

