@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

:root
{
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #796b1b;
    --gray: #303841;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    scroll-behavior:smooth;
}

body
{
    width: 100%;
    height: 100vh;
    text-align: center;
}

header
{
    width: 100%;
    background-color: var(--red);
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    border-bottom: 2px solid #00000099;
    position: fixed;
    top: 0;
    left: 0;
}


ul
{
    list-style: none;
    display: flex;
    font-family: Poppins;
    font-size: 18px;
}

ul a
{
    text-decoration: none;
    color:var(--white);
    padding: 22px 20px;
    display: block;
    transition: all 150ms ease-in-out;
}

ul a:hover
{
    background-color: var(--blue);
}

main
{
    width: 100%;
}

.hero
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1
{
    font-family:Raleway;
    font-size: 60px;
    color: var(--white);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(38) both,
    blink 1s step-end 2 ;
    max-width: fit-content;
    
}

.hero p
{
    font-family:Poppins;
    font-size: 30px;
    color: var(--red);
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(35) 1600ms both,
    blink 1s step-end 1600ms infinite ;
    max-width: fit-content;
    width:0px;
}

@keyframes type {
    from { width: 0 }
    to { width: 100%;
         /*white-space:normal*/ }
  }
  
@keyframes blink {
    0%,100%
    {
      border-right: 2px solid var(--red);
    }
    50%{
      border-color: transparent;
    }
  }

/**********************************work*********************************/

#work
{
    width: 100%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}

#work section
{
    width: fit-content;
    height: fit-content;
    margin-bottom: 60px;
}

#work section h1
{
    font-family: Raleway;
    font-size: 40px;
    color: var(--white);
    padding: 10px 0;
}

#work section hr
{
    border: 1px solid transparent;
    width:0px;
    transition: all 0.3s linear;
}

#work section:hover hr
{
    width: 100%;
    border: 1px solid var(--white);
}

#projects
{
    width: 100%;
    /* height: 1000px; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
/*     grid-template-rows: 1fr 1fr; */
    gap: 30px;
    padding: 0px 25px;
}

/************************media query************************/

@media only screen and (max-width:731px)
{
    #projects
    {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:732px) and (max-width:1092px)
{
    #projects
    {
        grid-template-columns: 1fr 1fr;
    }
}

#projects a
{
    text-decoration: none;
}


.project
{
    border-radius: 2px;
    overflow:hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
}

.project img
{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project p
{
    font-family:Poppins;
    text-transform: capitalize;
    text-align: center;
    background-color:var(--gray);
    padding: 20px;
    color: var(--white);
    font-size: 20px;
}

.project p span.tag
{
    color: transparent;
    transition: all 0.2s linear;
}

#projects a:hover span.tag
{
    color: #ff7f50;
}

#work #show_more
{
    padding: 10px 22px;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 60px;
    background-color: var(--gray);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

#work #show_more:hover
{
    background-color: var(--red);
}

#work #show_more i
{
    transition: all 0.3s linear;
    margin-left: 3px;
}

#work #show_more:hover i
{
    transform: translateX(5px);
}

/*****************************contant**********************************/
#contact
{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
}

#contact h1
{
    font-family:Raleway;
    font-size: 60px;
    color: var(--white);
}

#contact p
{
    font-family:Poppins;
    color: var(--white);
    font-style: italic;
    margin-top: 7px;
    font-size: 19px;
}

#contact #links
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

#contact #links a
{
    text-decoration: none;
    color: var(--white);
    text-shadow: 1px 1px 2px black;
    font-size: 24px;
    font-family: Poppins;
    padding: 10px 20px;
    white-space: nowrap;
    transition: all 0.2s linear;
}

#contact #links a:hover
{
    transform: translateY(10px);
}

#contact #links a i
{
    margin-right:5px ;
}

/***************************footer******************************/

footer
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
    border-top: 3px solid var(--red);
}

footer p
{
    font-size: 18px;
    font-family: Poppins;
    text-transform: capitalize;
}

footer p i
{
    color:var(--red);
}